<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="jumbotron">
        <img src="logo2.png" width="400" height="100" />
        <br><br>
        <h1>Task and Developer Management</h1>

        <h2>
            <a href="/taskAdd.html" class="btn btn-primary">Add Task</a>
            <a href="/taskUpdate.html" class="btn btn-primary">Update Task</a>
            <a href="/taskRemove.html" class="btn btn-primary">Remove Task</a>
            <a href="/taskList.html" class="btn btn-primary">View Tasks</a>
            <a href="/devAdd.html" class="btn btn-primary">Add Dev</a>
            <a href="/devList.html" class="btn btn-primary">View Devs</a>
        </h2>
    </div>
</body>

</html>