<html>

<head>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
    <div class="jumbotron">
        <h1>Update Task</h1>
        <br>

        <form action="/taskUpdate" method="POST">
            <div class="form-group">
                Task ID:
                <input type="text" name="taskId" class="form-control" />
                Set Status:
                <input type="text" name="status" class="form-control" />
            </div>

            <br>
            <button class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>

</html>